# Asignación de propietarios de código
# Cualquier cambio en estos archivos requiere revisión del propietario especificado

# El README solo puede ser modificado por el propietario del repositorio
/README @IvanRB0908
